node_modules
.env
.env.local
.env.*.local
dist
build
.next
.turbo
.supabase
.vercel
coverage
playwright-report
test-results
.DS_Store
*.log
.idea
.vscode/*
!.vscode/extensions.json
.env.prod
.env.production
*.tsbuildinfo
